# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/
latex_build/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/

julius_mask_map.json
sent_prompt.txt
main.tex
model_output.txt
**/*.pdf